.referencias{
    min-height: 900px;
    //
    hr{
        margin: 30px 0;
        border: 0px;
        border-bottom: 1px dashed lighten($cor-cinza, 30%);
    }
    .btn{
        font-size: 1em;
        padding: 15px 25px;
        color: #fff;
    }

}
//Media Query
@include MQ (XS){
    //BTN
    .referencias .btn {
      font-size: 0.9em;
      padding: 12px 0;
      width: 100%;
      display: block;
    }
}
