.on-text-left {
  text-align: left;
}

.on-text-center {
  text-align: center;
}

.on-text-right {
  text-align: right;
}

.on-text-uppercase {
  text-transform: uppercase;
}

.on-text-lowercase {
  text-transform: lowercase;
}
