figure {
  position: relative;
  width: 100%;
  font-size: 0;
  a {
    max-width: 100%;
  }
  img,
  object,
  .on-animation {
    margin: 0;
  }
  figcaption {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Arial;
    font-size: 12px;
    color: #FFF;
    transition: opacity .5s, visibility .5s;
    @include MQ(M) {
      visibility: hidden;
      opacity: 0;
    }
  }
  @include MQ(M) {
    &:hover {
      figcaption {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

on-col-float {
  figure {
    margin-top: 0;
  }
}


