<object class="on-icon-button-icon" *ngIf="icon === 0">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="44px" height="44px" viewBox="0 0 44 44" style="enable-background:new 0 0 44 44;" xml:space="preserve"><rect x="12.6" y="10.7" class="st0" width="22.4" height="22.6"/><path class="st1" d="M22,1C10.4,1,1,10.4,1,22s9.4,21,21,21s21-9.4,21-21S33.6,1,22,1z M32.8,24.1l-15.2,8.8c-0.3,0.2-0.6,0.2-0.9,0.2c-0.9,0-1.8-0.8-1.8-1.8V13.7c0-1,0.9-1.8,1.8-1.8c0.3,0,0.6,0.1,0.9,0.2l15.2,8.8C34,21.6,34,23.4,32.8,24.1z"/></svg>
</object>
<div class="on-icon-button-message">{{ message }}</div>
