$transition-time: .5s;

on-exit {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  right: $on-elements-spacing;
  width: 44px;
  height: 36px;
  cursor: pointer;
  transition: width $transition-time, background-color $transition-time;
  user-select: none;
  a {
    display: block;
    text-decoration: none;
    &:after {
      content: '\e909';
      position: absolute;
      top: 50%;
      right: 10px;
      width: 24px;
      $height: 15px;
      height: $height;
      font-family: 'ON Icons';
      font-size: 15px;
      line-height: 1;
      color: $on-color-magenta;
      margin-top: (-$height) / 2;
      transition: color $transition-time;
    }
  }
  @include MQ(M) {
    display: block;
  }
}

#on-exit-message {
  height: 36px;
  width: 0;
  background-color: transparent;
  overflow: hidden;
  transition: width $transition-time, color $transition-time;
  span {
    display: block;
    width: 261px;
    font-family: 'Gotham HTF Bold';
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    padding: 1px 0 0 10px;
    line-height: 35px;
    color:  $on-color-magenta;
    transition: color $transition-time;
  }
}

on-exit {
  &:hover {
    width: 304px;
    background-color: $on-color-magenta;
    a:after {
      color: #000;
    }
    #on-exit-message {
      width: 261px;
      span {
        color: #000;
      }
    }
  }
}
