
on-accordions {
  display: block;
  margin: $on-elements-spacing 0;
}

on-accordion {
  display: block;
  position: relative;
  background-color: transparent;
  border-top: 2px solid;
  transition: border .5s;
  &:last-child {
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }
}

.on-accordion-open {
  border-top-color: transparent !important;
  .on-accordion-header {
    padding-left: $on-elements-spacing / 2;
    h3 {
      color: #FFFFFF;
    }
    &:before {
      width: 100%;
    }
    .on-accordion-header-arrow {
      right: $on-elements-spacing / 2;
      transform: rotate(225deg);
      &:before {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.on-accordion-header {
  position: relative;
  font-family: 'Gotham HTF Medium';
  font-size: 16px;
  padding: 20px $on-elements-spacing + 14px 20px 0;
  cursor: pointer;
  outline: none;
  transition: padding .5s;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $on-color-magenta;
    transition: width .5s;
  }
  .on-accordion-header-arrow {
    background-color: transparent;
    border-bottom: 2px solid $on-color-magenta;
    border-right: 2px solid $on-color-magenta;
    position: absolute;
    top: 23px;
    right: 10px;
    width: 15px;
    height: 15px;
    font-size: 8px;
    transform: rotate(45deg);
    transition: transform .5s, right .5s;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 20px;
      visibility: hidden;
      opacity: 0;
      transform: rotate(-45deg);
      margin: 0 auto;
      top: -4px;
      right: 2px;
      left: 0;
      background-color: $on-color-magenta;
      transition: opacity 1.5s;
    }
  }
  h3 {
    position: relative;
    cursor: pointer;
    margin: 0;
    color: $on-color-default;
    transition: color .5s;
  }
}

.on-accordion-body {
  overflow: hidden;
  > *:first-child {
    margin-top: $on-elements-spacing;
  }
}

.on-background-color-white {
  on-accordion {
    @extend %border-color-gray;
    .on-accordion-header:before {
      background: linear-gradient(to right, $on-color-magenta, $on-color-gray);
    }
  }
}

.on-background-color-gray {
  on-accordion {
    @extend %border-color-gray-component;
    .on-accordion-header:before {
      background: linear-gradient(to right, $on-color-magenta, $on-color-gray-component);
    }
  }
}

.on-background-color-main-light {
  on-accordion {
    @extend %border-color-main-component;
  }
  .on-accordion-header:before {
    background: linear-gradient(to right, $on-color-magenta, $on-color-main-component);
  }
}

.on-section-dark {
  on-accordion {
    @extend %border-color-white;
    h3 {
      @extend %color-white;
    }
    .on-accordion-header-arrow {
      @extend %border-color-white;
      &:before {
        @extend %background-color-white;
      }
    }
  }
}


