.on-scroll-box {
  @include MQ(M) {
    overflow-y: scroll;
    max-height: 300px;
    padding-right: 10px;
    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
}
