.parallaxy{
    padding: 0;
    position: initial !important;
    //
    span{
        font-size: 20px;
        display: block;
        text-transform: initial;
    }
}
.parallaxy-titulo{
    background-color: rgba(darken($cor-principal, 20%), .75);
    color:#fff;
    padding: 20px;
    width: 60%;
    margin-left: 2.5em;
    font-size: 2.2em;
    text-transform: uppercase;
    line-height: 1.2em ;
    font-family: 'Gotham HTF Light';
}
.background-animate {
    padding: 130px 0;
    margin: 0;
    width: 100%;
    background: transparent center no-repeat fixed;
    background-size: cover;
    color: #fff;
}
@for $i from 1 through 3{//Aqui definimos 3 bgs para paralaxy
    .bg-parallaxy-#{$i}{
        background-image: url('../images/background/bg-parallaxy-#{$i}.jpg');//Utilizar a nomenclatura bg-parallaxy-1.jpg,bg-parallaxy-2.jpg, bg-parallaxy-3.jpg....
    }
}
//Media Query
@include MQ (XL){
    .parallaxy-titulo {
        font-size: 2em;
        line-height: 1.2em;
    }
}
@include MQ (L){
    .parallaxy-titulo {
        font-size: 1.6em;
    }
}
@include MQ (M){
    .background-animate {
        background-attachment: initial;

    }
    .parallaxy-titulo {
        margin: 0 auto;
        width: 90%;
        padding: 15px;

    }
}
@include MQ (XS){
    .parallaxy-titulo {
        font-size: 1.3em;
        line-height: 1.3em;
        width: 80%;
    }

}
